<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Liveview Web Streaming" %></h1>
  <p>Peace of mind from webcam to browser</p>
</section>

<section class="row">
  <video phx-hook="StartCamera" id="video-canvas" controls width="100%" height="auto" muted></video>
</section>